<h1>About this project</h1>
<p> It started as a 4 day "create your own" project at the CodingDojo immersive bootcamp as my first integration of a full mongoDB, socket.io, node, express, mongoose project</p>
<p> As such: it has some serious defects, which I am working on but would welcome help! </p>
<ul>
  <li>
    Refactoring code/front end UI!
  </li>
  <li>
    Side chat room!
  </li>
  <li>
    In the code editor: code update is sometimes buggy(delete and enter seem to be the worst).
  </li>
  <li>
    Back-end DB stores a bit of extra data that would be nice to use (e.g. forced return value/type casting at saves consistent with value of "return" on creation of function)
  </li>
  <li>Function Delete</li>
</ul>
