<style>  *{
    border:0;
    margin:0;
    white-space:collapse;

  }

  input{
    background-color : white;
    color: black;
    font-size: 1.1em;
    border-radius: 6px;
    margin: 4px;
  }

  button{
    background-color : white;
    color: black;
    font-size: 1.1em;
    border-radius: 6px;
    margin: 4px;

  }
  #main_login div{
    margin:15px;
    display:inline-block;
    vertical-align: top;
  }
  </style>
  <script>
  $(document).ready(function(){
    $('#main_login').css("padding-left",0.5*$(window).width() - 250);
  });
  </script>

<div id ="main_login" ng-controller="loginController">

  <div>
    <input ng-model = "login.name" type ="text" placeholder = "username"><br>
    <input ng-model = "login.password" type ="password" placeholder = "password"> <br>
    <button ng-click = "logmein(login)">Login</button>
  </div>

  <div>
    <input ng-model = "registration.username" type ="text" placeholder = "username"><br>
    <input ng-model = "registration.first_name" type ="text" placeholder = "firstname"><br>
    <input ng-model = "registration.last_name" type ="text" placeholder = "lastname"><br>
    <input ng-model = "registration.password" type ="password" placeholder = "password"><br>
    <input ng-model = "registration.repeatedpwd" type ="password" placeholder = "repeat pwd"><br>
    <input ng-model = "registration.email" type ="text" placeholder = "email"><br>

    <button ng-click = "say_hello(registration)">Register</button>
  </div>



<fieldset>


</fieldset>
</div>
