<div ng-controller="loginController">
<fieldset>
  <legend>Register</legend>
  <input ng-model = "registration.username" type ="text" placeholder = "username">
  <input ng-model = "registration.first_name" type ="text" placeholder = "firstname">
  <input ng-model = "registration.last_name" type ="text" placeholder = "lastname">
  <input ng-model = "registration.password" type ="password" placeholder = "password">
  <input ng-model = "registration.repeatedpwd" type ="password" placeholder = "repeat pwd">
  <input ng-model = "registration.email" type ="text" placeholder = "email">

  <button ng-click = "say_hello(registration)">Click Me</button>

</fieldset>

<fieldset>
  <legend>Login</legend>
  <div>
    <input ng-model = "login.name" type ="text" placeholder = "username">
    <input ng-model = "login.password" type ="password" placeholder = "password">
    <button ng-click = "logmein(login)">Click Me</button>

  </div>
</fieldset>
</div>
