<style>
*{
  border:0;
  margin:0;
  white-space:collapse;

}

textarea {
  margin:5px;
  width:98%;
  height: 100px;
  border-radius: 5px;
  font-size: 1.2em;

}
h3{
  margin-left: 30px;
}
.ui-resizable-helper { border: 4px dotted white; }

.users button{
  border-radius:5px;
  background-color:white;
  border: 1px solid grey;
}
 #warning{
   padding-left:10px;
   color:red;
   margin:0;
 }
  #wrapper{
    display: block;
    x-overflow: scroll;
    background-color: #AAAAAA;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:12px;
    border-radius: 6px;
  }


/*   #wrapper p{

  text-overflow:ellipsis;


} */

  #node_subheader{
    border-top:3px solid #EEEEEE;
    padding-left: 10px;
    background-color: #CCCCDC;
    border-radius:7px;
    padding-top:8px;
    height: 45px;
  }
  #cm_controller{
    width: 75%;
    display:inline-block;
    margin-left:0.5%;
  }

  #console_wrapper{
    border-left:2px solid black;
    width:20%;
    display: inline-block;
    vertical-align:top;

    background-color:white;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
  }
  #console_wrapper h3{
    text-align:center;
  }

  #chat_wrapper button{
    border:thin solid black;

  }

  #console_log{
    word-wrap: break-word;
    height: 50%;
    border-bottom: 1px solid black;
    padding-left: 3px;
    overflow:scroll;

  }

  #console_log p{
    margin-left:2px;


  }
  #evaluated{
    border:4px solid grey;
    border-radius:8px;
    background-color:#FAFAFA;
    min-height:600px;
    margin: 5px;
    overflow:scroll;

  }
  #chat_wrapper{
    border-bottom-right-radius:5px;
    display: inline-block;
    vertical-align:top;
    overflow:scroll;
  }

  #chat_wrapper button{
    background-color : lightgreen;
    color: black;
    font-size: 0.5em;
    border-radius: 4px;
  }

    #chat_wrapper .users button{
      background-color: red;
      color: white;
      font-size: 0.5em;
      font-weight: 800;
      border-radius: 4px;
    }
    #chat_members{
      overflow:scroll;
      border:1px solid black;
    }
  /* #chat_wrapper button{
    margin-left:5px;
    margin-right:5px;
  } */
  #function{

      margin-left: 10px;

  }
  #function h1 {

  }
  #function h5 {
  }
  select {
    font-size: 1.1em;
  }

  input{
    background-color : white;
    color: black;
    font-size: 1.1em;
    border-radius: 6px;
    margin: 4px;
  }

  button{
    background-color : white;
    color: black;
    font-size: 1.1em;
    border-radius: 6px;
    margin: 4px;

  }
  h5{
    display:inline-block;}


#new_function{
  width:auto;
  border-radius:5px;
}



</style>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>



<script>

function join_room(data){
  socket.emit("change_rooms",{"new_room":data});
  $('#join_up').html("");
  console.log($('[ng-controller="MainController"]').scope().chat_boolean);
  $('[ng-controller="MainController"]').scope().chat_boolean = !$('[ng-controller="MainController"]').scope().chat_boolean;
  console.log($('[ng-controller="MainController"]').scope().chat_boolean);
  adjust_sizes(true);
}

function load_function2(){
  editor.setValue("");
  var myvalue = $('#current_function').val();
  $('[ng-controller="MainController"]').scope().working_index = $('#current_function').val();
  var current_function = $('[ng-controller="MainController"]').scope().user_id.functions[myvalue];
  console.log(current_function);
  var codes = current_function.data;
  for (var i = 0; i<codes.length; i ++){
    editor.replaceRange(codes[i] + ('\n'),
      {line: i, ch:0},
      {line: i, ch:codes[i].length});
      editor.indentLine(i);
    }
}

function decline_invitation(){
  $('#join_up').html("");
  console.log($('[ng-controller="MainController"]').scope().chat_boolean);
  $('[ng-controller="MainController"]').scope().chat_boolean = !$('[ng-controller="MainController"]').scope().chat_boolean;
  console.log($('[ng-controller="MainController"]').scope().chat_boolean);
  adjust_sizes(true);
}

function run_javascript(myValue){
// modified from http://stackoverflow.com/questions/20256760/javascript-console-log-to-html
    var logger = document.getElementById('console_log');
    logger.innerHTML = "";
       console.log = function (message) {
            if (typeof message == 'object') {
                logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '<br />';

            } else {
                logger.innerHTML += message + '<br />';
            }
          }
    old2 = window.onerror;
    window.onerror = function(msg, url, linenumber) {
    logger.innerHTML += ('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+(linenumber));
    }
}

function load_function(current_function,editor){
  if (current_function && current_function['data']){
  var codes = current_function.data;
  for (var i = 0; i<codes.length; i ++){
    editor.replaceRange(codes[i] + ('\n'),
      {line: i, ch:0},
      {line: i, ch:codes[i].length});
      editor.indentLine(i);
    }
  }
};

function adjust_sizes(myBool){
  if(myBool){
    var mySize = $(window).height();
    $('#cm_controller').css({
      "height": mySize*0.55 +"px",
      "width": 0.75 * $(window).width()+"px"
    });

    editor.setSize(0.75 * $(window).width(),mySize*0.55);

    $('#console_wrapper').css({
      "height": (mySize*0.55-2) +"px",
      "width": 0.2 * $(window).width() - 10+"px"
    });

    $('#console_log').css({
        "height": (mySize*0.55-2)/2 +"px",
      "width": $('#console_wrapper').width() -5
    });



    $('#chat_wrapper').css({
        "height": (mySize*0.55-2)/2 +"px",
      "width": $('#console_wrapper').width()

    });
    $('#chat_members').css({
        "height": $('#chat_wrapper').height()-50,
      "width": $('#console_wrapper').width()

    });

  //  $('#main').css("background-color", "green");

  }

}

$(document).ready(function(){
  var adjust_boolean = true;

  $(window).resize(function(){
    adjust_sizes(adjust_boolean);
  });

  $('#cm_controller').resizable({
      helper: "ui-resizable-helper",
      start:function(){ adjust_boolean = false;},
      stop: function() {console.log(this)

      editor.setSize($(this).width(), $(this).height());
      $('#console_wrapper').css({"height":$(this).height() -3,
      "width": $(this).parent().width()-$(this).width() - 25
      });
      var mySize =   $('#console_wrapper').height();

      $('#console_log').css({
          "height": mySize/2 +"px",
        "width": $('#console_wrapper').width() -5
      });



      $('#chat_wrapper').css({
          "height": mySize/2 +"px",
        "width": $('#console_wrapper').width()
      });

      $('#chat_members').css({
          "height": $('#chat_wrapper').height()-50,
        "width": $('#console_wrapper').width()

      });
    //  $('#main').css("background-color", "green");
      adjust_boolean = true;

      }

    });





    //setSize(500, 300)
  //$('[ng-controller="MainController"]').scope().user_id.functions[0] = "donut"
  //console.log(current_function);
  old = console.log;
  old2 =window.onerror;
  //console.log(document.getElementById('hi'));
  editor = CodeMirror.fromTextArea(document.getElementById('script_source'), {
    lineNumbers: true,
  //  lines: 50;
    theme: "neat",
    //height: auto;
    extraKeys:{
       "Enter":
       function(e){
         console.log = old;
         window.onerror = old2;
         var current_cursor = (e.getCursor());
         var currentUser = current_name;
         socket.emit('chat message', {"line":e.getLine(e.getCursor().line), "index":e.getCursor().line, "cursor":e.getCursor().ch, "name":current_name});
         //normal ajax here rather than angular <-- only way I could get CM to bind w Sockets
         $.get('/build_node',function(data){
           console.log(data);
         });
       },
      }
  });

  adjust_sizes(adjust_boolean);

  //$('#cm_controller').on
  // ON LOAD DATA!
  var current_name = "guest";
  if ($('[ng-controller="MainController"]').scope().user_id.functions[0]!=="undefined")
  {var current_function = $('[ng-controller="MainController"]').scope().user_id.functions[0];
  load_function(current_function, editor);
  //console.log()
  current_name = $('[ng-controller="MainController"]').scope().user_id.name;
  }


  $('#reporter').click(function(){
    var myValue = editor.getValue();
  //  var old = console.log;
    run_javascript(myValue);
    //console.log = old;

    //console.log(document.getElementById('hi').value);
  //console.log(editor.getValue());
  var myHTML = eval(editor.getValue());
  $('#evaluated').html(myHTML);
  $('#main').css("height", $('body').height());
  });


  $('#reporter').mouseout(function(){
    console.log = old;
    window.onerror = old2;
  });
if (typeof(socket) == 'undefined'){
  socket = io.connect();
}
socket.on('some event', function(data){
  console.log("just this room ", data);
});

socket.on("mySocket", function(data){
  console.log(data);
  $('[ng-controller="MainController"]').scope().socket = data;
});

  //socket.on("connection")
//  console.log(current_name);


socket.on('private_message', function(data){
  var these_data = data.current_room;
  console.log(typeof(these_data));


  $('#join_up').html("<p> Join " +  data.name + '</p><br><button id = "accept" onClick = "join_room(\''+these_data+'\')">Accept</button><button id = "decline" onClick = "decline_invitation()"> decline </button>');
  $('[ng-controller="MainController"]').scope().chat_boolean = !$('[ng-controller="MainController"]').scope().chat_boolean;
  console.log($("#join_up").height());
  var myHeight = $('#chat_members').height();
  $('#chat_members').css("height", myHeight - $("#join_up").height() );
  //console.log("You've been invited to join room=: " + data);
});

  socket.emit("update_nickname",current_name);


  socket.on('new_user', function(users){
    var myHTML = "";
    console.log(users);
    for (user in users){
      if (users[user].socket !== $('[ng-controller="MainController"]').scope().socket){
      myHTML += "<p class = 'users' id =" + users[user].socket +" buttonMode = 'true'>";
      myHTML += "<button>" + users[user].name + "</button>";
      myHTML += "</p>";
    }
    }
    $('#chat_members').html(myHTML);
    $('.users').on("click", function(){
      var target_id = this.id;
      socket.emit("want_to_join", target_id);
      });
  })


  socket.on('function_update2', function(codes){
    var myCursor = editor.getCursor();
    editor.setValue(" ");
    var myString = "";
    for (var code in codes){
      editor.replaceRange(codes[code].line + ('\n'),
        {line: codes[code].index, ch:0},
        {line:codes[code].index, ch:codes[code].line.length});
      }
      editor.setCursor(myCursor);
  });




  socket.on('function_update', function(codes){
    var myCursor = editor.getCursor();
    editor.setValue("");
    //var myCursor = {};
    //if(editor.getCursor() !== null){
    var myString = "";
    $('[ng-controller="MainController"]').scope().functional_data = [];
    for (var code in codes){
      editor.replaceRange(codes[code].line + ('\n'),
        {line: codes[code].index, ch:0},
        {line:codes[code].index, ch:codes[code].line.length});
        editor.indentLine(codes[code].index);

        $('[ng-controller="MainController"]').scope().functional_data.push(codes[code].line);
  //      console.log($('[ng-controller="MainController"]').scope());
      }
      editor.setCursor(myCursor);
    //  console.log(myCursor);
      // if (myCursor.line){
      // //  console.log("ehllo");
      //   editor.setCursor(myCursor);
      // }
      // else {};

    });
    //sets the current cursor to the next line...
    socket.on('lineupdate', function(current_cursor){
      editor.setCursor({line: (current_cursor+1), ch: 0});
    });



$('#cm_controller').hover(function(){add_delete_handler();},function(){remove_delete_handler();});

//editor.update(function(){console.log("hello")});

});

function add_delete_handler(){
  document.addEventListener("keyup", checkDelete);
}

function remove_delete_handler(){
  document.removeEventListener("keyup", checkDelete);

}

function checkDelete(e){
 var myArray = [];
// console.log(e.keyCode);
  if (e.keyCode == 8 || e.keyCode == 37 || e.keyCode == 38 || e.keyCode == 39 || e.keyCode == 40){
  //  console.dir(socket);
    var myCounter = editor.lineCount();
  //  var myCursor = editor.getCursor();
    while (editor.getLine(myCounter) == undefined && myCounter > 0){
      myCounter --;
    }


   if( myCounter == 0){ if (editor.getLine(i) !== undefined){
     myArray[i]={"index":i,"line":editor.getLine(i)};
     }
     else {myArray[i]={"index":i,"line": ""};
     }
     }
  else{
    for (var i = 0; i < myCounter; i ++){

     if (editor.getLine(i) !== undefined){
      myArray[i]={"index":i,"line":editor.getLine(i)};
      }
      else {myArray[i]={"index":i,"line": ""};
      }
    }
    socket.emit("delete_message",myArray);
    }
  }
}
 </script>

 <script>

   var input = document.getElementById("theme_select");
   function save_function(){
     event.preventDefault();
     var myArray = [];
    // console.log(e.keyCode);

      //  console.dir(socket);
        var myCounter = editor.lineCount();
        while (editor.getLine(myCounter) == undefined && myCounter > 0){
          myCounter --;
        }


       if( myCounter == 0){ if (editor.getLine(i) !== undefined){
         myArray[i]=editor.getLine(i);
         }
         else {myArray[i]="";
         }
         }
      else{
        for (var i = 0; i < myCounter; i ++){

         if (editor.getLine(i) !== undefined){
           myArray[i]=editor.getLine(i);
           }
           else {myArray[i]="";
           }
        }
        //socket.emit("delete_message",myArray);
        }


     $('[ng-controller="MainController"]').scope().save_function(myArray);
   }
   function selectTheme() {

     var theme = input.options[input.selectedIndex].innerHTML;
     editor.setOption("theme", theme);
   }

 </script>




<div ng-controller="nodeController">


<div id = "node_subheader">
    <select id="current_function" ng-model = "working_index" ng-change = "load_function()" onchange = "load_function2()" ng-show="user_id.functions.length > 0">
          <option value = ""><h2>-- Load a Function --</h2></option>
          <option ng-repeat="function in user_id.functions" value = "{{$index}}">{{function.name}}</option>
    </select></label><span ng-show="if (user_id.functions.length > 0)">  or </span>   <input type = "submit" value = "Create a Function" ng-click = "new_function_boolean = !new_function_boolean"> <br>
  </div>
<div id = "new_function" ng-show = "new_function_boolean">


   <form ng-model = "new_function">
     <input type="text" ng-model="new_function.name" placeholder="function name"><label>Requires a unique name, if its not unique it will overwrite your function of the same name </label><br>
     <input type="text" ng-model="new_function.variables" placeholder="inputs"><label>Required, just list the input parameters (or none) </label><br>
     <input type="text" ng-model="new_function.return" placeholder="return"><label>Required, just list the return type (or void)</label><br>
     <input type="text" ng-model="new_function.stack" placeholder="stack/language"><label>Required, what language is this function for? (e.g. javascript)</label><br>
     <textarea ng-model="new_function.description" placeholder="General description of the function (also required)"></textarea><br>

     <input type="submit" ng-click="add_Function(); new_function_boolean = !new_function_boolean" value = "New Function">
   </form>

</div>


<div id = "function">
  <h5 id = "current"> LOADED FUNCTION </h5>
<h1 name = "{{user_id.name}}">{{user_id.functions[working_index].name}}</h1>

</div>

<!--<option ng-repeat="function in user_id.functions" value = "{{function}}">{{function.name}}</option>-->
<!-- <a href = "#"><span ng-click = "say_hell()">Hello World<span></a> -->
<div id = "wrapper">
  <div id = "cm_controller">
  <textarea id = "script_source">
    "hello world"
  </textarea>
  </div><!--
  --><div id = "console_wrapper">
      <h3><u>Console</u></h3>
      <div id ="console_log">

      </div>
      <div id = "chat_wrapper">
        <button ng-click = "chat_boolean = !chat_boolean">Invite</button>|<button ng-click = "chat_boolean = !chat_boolean">Chat</button>
        <div id ="join_up" ng-show= "!chat_boolean"></div>
        <div id = "chat_members" ng-show = "!chat_boolean"></div>
        <div id = "chat"  ng-show = "chat_boolean">
          hello!
        </div>
      </div>
  </div>


  <p id = "warning">*Save will overwrite your currently loaded function!</p>
  <button id = "reporter">Evaluate(Javascript)</button>
  <button onclick = "save_function()">Save Function</button>
  <label>Theme:</label><select onchange="selectTheme()" id="theme_select">
      <option selected="">default</option>
      <option>3024-day</option>
      <option>3024-night</option>
      <option>ambiance</option>
      <option>base16-dark</option>
      <option>base16-light</option>
      <option>blackboard</option>
      <option>cobalt</option>
      <option>colorforth</option>
      <option>eclipse</option>
      <option>elegant</option>
      <option>erlang-dark</option>
      <option>lesser-dark</option>
      <option>liquibyte</option>
      <option>mbo</option>
      <option>mdn-like</option>
      <option>midnight</option>
      <option>monokai</option>
      <option>neat</option>
      <option>neo</option>
      <option>night</option>
      <option>paraiso-dark</option>
      <option>paraiso-light</option>
      <option>pastel-on-dark</option>
      <option>rubyblue</option>
      <option>solarized dark</option>
      <option>solarized light</option>
      <option>the-matrix</option>
      <option>tomorrow-night-bright</option>
      <option>tomorrow-night-eighties</option>
      <option>ttcn</option>
      <option>twilight</option>
      <option>vibrant-ink</option>
      <option>xq-dark</option>
      <option>xq-light</option>
      <option>zenburn</option>
  </select>

  </div>




  <h3><u>HTML of Result</u></h3>
  <div id = "evaluated">
  </div>

</div>
